# Ignore log files
*.log
# Ignore node_modules folder
node_modules/
# Ignore Python virtual environment
.venv/
# Ignore build output
dist/
build/
# Ignore environment variables
env
# Ignore OS-specific files
DS_Store
Thumbs.db

#Ignore Databases
Original_DB.sqlite
WeatherData.sqlite

#Ignore Pycache
__pycache__/

test_environment.py
Input_Folder.py
GEval_Prompt.py

parquet_output/

Experiment1/
Experiment2/
Experiment3/
Experiment4/
Experiment5/

Input_Folder1/
Input_Folder2/
Input_Folder3/
Input_Folder4/
Input_Folder5/

Generated_Evaluation_Prompts_DOCX/
Expected_Outputs/
pictures/

Evaluation_Schema.xlsx
Statistical_Comparison.py
final_experiment_comparison.csv
final_summary_table.csv
anova_outputs_g_eval/
g_eval_statistical_analysis/
