# Ignore log files
*.log
# Ignore node_modules folder
node_modules/
# Ignore Python virtual environment
.venv/
# Ignore build output
dist/
build/

#Ignore Databases
Original_DB.sqlite
WeatherData.sqlite

#Ignore Pycache
__pycache__/

#Ignore files only used to create sections used in core files of the thesis
Input_Folder.py
parquet_output/

#Ignore the Experiment Output and G-EVAL Input Folders
Experiment1/
Experiment2/
Experiment3/
Experiment4/

Input_Folder1/
Input_Folder2/
Input_Folder3/
Input_Folder4/

#Ignore the folders containing the generated evaluation prompts, expected outputs, and pictures used for the G_EVAL evaluation of the thesis
Generated_Evaluation_Prompts_DOCX/
Expected_Outputs/
pictures/

#Ignore the Statistical Analysis Folder containing multiple pictures and tables
g_eval_statistical_analysis/
